# Hugging Face Inference API Token (for Embeddings)
HF_TOKEN=

# Groq API Key (for LLM)
GROQ_API_KEY=

# Qdrant Vector Database Config
QDRANT_URL=http://localhost:6333
QDRANT_API_KEY=
QDRANT_COLLECTION_NAME=notebookllm
